/* 
    Document   : hh
    Created on : 31-Aug-2015, 3:21:51 PM
    Author     : Aaron
    Description:
        Purpose of the stylesheet follows.
*/

root {
    display: block;
}

body {
    font-family: Verdana;
}

#controlPane {
    float: right;
    width: 40%;
    margin-left: 1px;
}

#controlPane input:not([type=button]) {
    width: 80px;
}

#plotting_pane {
    float: left;
    width: 50%
}

.slider_pane {
    width: 70px;
    margin-right: 15px;
    margin-left: 25px;
    display: inline-block;
    height: 15px
}

svg {
    width: 100%
}

.fr {
    display: None;
}

.ui-selectmenu-button {
    width: 150px !important;
    margin-left: 200px;
}

.distance_spinner .ui-spinner:before {
    content: "um";
    width: 50px;
    padding-top: 2px;
    position: absolute;
    top: 0;
    right: 0;
}

.suffix {
    display: inline;
}

.slider_pane {
    width: 70px;
    margin-right: 15px;
    margin-left: 25px;
    display: inline-block;
    height: 15px
}

img {
    width: 100%;
}